@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #dbdbdb;
  font-family: "Roboto";
}

header {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.topo {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topo div {
  display: flex;
  justify-content: space-between;
}

.topo ion-icon {
  font-size: 22px;
  margin: 0 10px;
}

.pesquisa {
  width: 200px;
  height: 25px;
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  color: #979797;
  background-color: #fafafa;
}

.conteudo {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.esquerdo {
  width: 60%;
}

.caixa-stories {
  height: 88px;
  margin-top: 88px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.caixa-stories div {
  width: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.caixa-stories span {
  margin-top: 5px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.botao-stories {
  font-size: 30px;
  color: #f5f5f5;
  position: absolute;
  right: 0;
}
.foto-stories {
  object-fit: cover;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 2px solid red;
}

.caixa-posts {
  width: 100%;
}

.post {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 20px 0;
}

.foto-post {
  width: 100%;
  height: 100%;
}
.superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.superior div {
  display: flex;
  align-items: center;
  margin: 10px 15px;
}
.superior img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.superior span {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}
.more ion-icon {
  font-size: 15px;
}
.icones-inferior {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.icones-inferior ion-icon {
  font-size: 18px;
}
.icones-inferior div {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}
.icones-inferior div:first-child {
  width: 12%;
}
.comentarios {
  margin: 10px 10px;
  display: flex;
  align-items: center;
}
.comentarios span {
  font-size: 12px;
  margin: 0 5px;
}
.comentarios a {
  text-decoration: none;
  color: initial;
  font-weight: bold;
}
.comentarios img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
